extends layout

block content
  h1(style="margin-top: 80px; margin-bottom: 30px;") Beverages
  .pizza-images(style="display: flex; gap: 40px; justify-content: center;")
    .pizza-item(style="text-align: center;")
      img(src="/images/beverages1.jpg", alt="Pizza 1", 
          style="width: 400px; height: 400px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);")
      h3(style="margin-top: 10px;") Oreo Shake
      p(style="font-size: 1.2rem; color: white;") &#8377 199

    .pizza-item(style="text-align: center;")
      img(src="/images/beverages2.png", alt="Pizza 2", 
          style="width: 400px; height: 400px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);")
      h3(style="margin-top: 10px;") Kitkat Shake
      p(style="font-size: 1.2rem; color: white;") &#8377 199
  .pizza-images(style="display: flex; gap: 40px; justify-content: center;") 
    .pizza-item(style="text-align: center;")
      img(src="/images/beverages3.webp", alt="Pizza 2", 
          style="width: 400px; height: 400px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);")
      h3(style="margin-top: 10px;") Sunrise Mocktail
      p(style="font-size: 1.2rem; color: white;") &#8377 249
    .pizza-item(style="text-align: center;")
      img(src="/images/beverages4.jpeg", alt="Pizza 2", 
          style="width: 400px; height: 400px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);")
      h3(style="margin-top: 10px;") Berry Ginger Mocktail
      p(style="font-size: 1.2rem; color: white;") &#8377 299
