//- about.pug
extends layout

//- Define the class for the body to remove the background image
- var bodyClass = 'about-page' // This class will b

block content
  .row.banner
    .col-12
      h1= title

  .row
    .col-12.col-lg-8
      p
      | A café serves as more than just a place to grab a cup of coffee or a bite to eat; it's a welcoming space where people come together to relax, connect, and enjoy the simple pleasures of life. Our café is designed to be a sanctuary from the hustle and bustle of daily life, offering a cozy and comfortable environment where you can unwind, work, or meet up with friends.
      <br /> <br />
      | Join us and experience a space where you can enjoy not only great food and drinks but also a sense of community and belonging.

  //- Row for images with equal sizes
  .row
    .col-6
      img(src="/images/joshua-rodriguez-f7zm5TDOi4g-unsplash.jpg", class="img-fluid image-spacing equal-size")
    .col-6
      img(src="/images/kyle-ryan-6g1kqseqsEk-unsplash.jpg", class="img-fluid image-spacing equal-size")
    .col-6
      img(src="/images/lee-campbell-31QfYo1h32o-unsplash.jpg", class="img-fluid image-spacing equal-size")
    .col-6
      img(src="/images/nafinia-putra-Kwdp-0pok-I-unsplash.jpg", class="img-fluid image-spacing equal-size")
