//- about.pug
extends layout

//- Define the class for the body to remove the background image
- var bodyClass = 'about-page'

block content
  .row.banner
    .col-12
      h1= title

  .row
    .col-12.col-lg-8
      p
        | At Mug Stop, we believe that a café is more than just a place to enjoy a cup of coffee or a delicious meal. It’s a community hub where friends gather, families connect, and memories are made. 
        br
        br
        | Our café is designed to be a tranquil retreat from the hustle and bustle of daily life. With cozy seating, warm lighting, and a welcoming atmosphere, you can unwind with a book, work on your projects, or catch up with friends over your favorite drinks and pastries.
        br
        br
        | We take pride in sourcing the finest ingredients, ensuring that every cup of coffee and every dish we serve is crafted with care and passion. Whether you're here for a quick bite or a leisurely afternoon, our menu offers something for everyone— from artisanal coffees to delectable pastries and wholesome meals. 
        br
        br
        | Join us at Mug Stop and experience not just great food and drinks, but a true sense of community and belonging. We can’t wait to welcome you!
