extends layout

block content
  h1(style="margin-top: 80px; margin-bottom: 30px;") Itlain
  .pizza-images(style="display: flex; gap: 40px; justify-content: center;")
    .pizza-item(style="text-align: center;")
      img(src="/images/italian1.jpg", alt="Pizza 1", 
          style="width: 300px; height: 300px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);")
      h3(style="margin-top: 10px;") Chicken Noodels
      p(style="font-size: 1.2rem; color: white;") &#8377 399

    .pizza-item(style="text-align: center;")
      img(src="/images/italian2.jpg", alt="Pizza 2", 
          style="width: 300px; height: 300px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);")
      h3(style="margin-top: 10px;") Timballo
      p(style="font-size: 1.2rem; color: white;") &#8377 449
