extends layout

block content
  .row.banner
    .col-12
      img(src="/Users/rakeshpatel/Documents/Wpm/Team Project!/public/images/IMG_1857.jpg", alt="")
      h1(style="font-size: 3.7rem;")  MUG STOP
      //- small &nbsp;Find places to work with wifi near you!

  .row
    .col-12.col-md-8
          h4(style="font-size: 3.5rem;") 
            a(href="/location") For Location and Details About our cafe
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p(style="font-size: 1.3rem;") 2.6KM From Gachibowli
          p(style="font-size: 1.3rem;").address Plot 42-44, Serial 8, 19-22, Gachibowli, Hyderabad
          p(style="font-size: 1.5rem;").facilities
            span.badge.badge-warning Continental
            span.badge.badge-warning Italian
            span.badge.badge-warning Sandwich
            span.badge.badge-warning Pizza
            span.badge.badge-warning Beverages

    .col-12.col-md-4
      p.lead Looking for wifi and a seat? MUG STOP helps you find places to work when out and about. Perhaps with coffee, cake, or a pint? Let MUG STOP help you find the place you're looking for.
      | 