extends layout

block content
  .row.banner
    .col-12
        .d-flex.align-items-center 
          img(src="/images/IMG_1857.jpg", alt="MUG STOP Café", style="width: 90px; height: 90px; border-radius: 50%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);")
          h1(style="font-size: 3.7rem; margin-left: 20px;") MUG STOP

  .row
    .col-12.col-md-8
      h4(style="font-size: 3.5rem;") 
        a(href="/location") Discover Our Location and Café Details
        small &nbsp;
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
        i.far.fa-star
        i.far.fa-star
      p(style="font-size: 1.3rem;") Just 2.6KM from Gachibowli
      p(style="font-size: 1.3rem;").address Plot 42-44, Serial 8, 19-22, Gachibowli, Hyderabad
      p(style="font-size: 1.5rem;").facilities
        span.badge.badge-warning Continental
        span.badge.badge-warning Italian
        span.badge.badge-warning Sandwich
        span.badge.badge-warning Pizza
        span.badge.badge-warning Beverages

    .col-12.col-md-4
      p.lead Looking for a cozy spot with reliable Wi-Fi and a comfortable seat? At MUG STOP, we help you discover the perfect places to work or relax while enjoying delicious coffee, tempting pastries, or even a refreshing pint. Whether you’re looking for a quiet corner to focus or a vibrant atmosphere to brainstorm, MUG STOP is here to guide you to your next favorite café experience.
