extends layout

block content
  .row.banner
    .col-12
      img(src="/Users/rakeshpatel/Documents/Wpm/Team Project!/public/images/IMG_1857.jpg", alt="")
      h1 Cafè Shop
      //- small &nbsp;Find places to work with wifi near you!

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") MUG STOP
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 2.6KM From Gachibowli
          p.address Plot 42-44, Serial 8, 19-22, Gachibowli, Hyderabad
          p.facilities
            span.badge.badge-warning Continental
            span.badge.badge-warning Italian
            span.badge.badge-warning Sandwich
            span.badge.badge-warning Pizza
            span.badge.badge-warning Beverages

    .col-12.col-md-4
      p.lead Looking for wifi and a seat? MUG STOP helps you find places to work when out and about. Perhaps with coffee, cake, or a pint? Let MUG STOP help you find the place you're looking for.
      | 