extends layout

block content
  h1(style="margin-top: 80px; margin-bottom: 30px;") Sandwich
  .pizza-images(style="display: flex; gap: 40px; justify-content: center;")
    .pizza-item(style="text-align: center;")
      img(src="/images/sandwich1.jpeg", alt="Pizza 1", 
          style="width: 400px; height: 400px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);")
      h3(style="margin-top: 10px;") Deli Meat Sandwich
      p(style="font-size: 1.2rem; color: white;") &#8377 399

    .pizza-item(style="text-align: center;")
      img(src="/images/sandwich2.jpg", alt="Pizza 2", 
          style="width: 400px; height: 400px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);")
      h3(style="margin-top: 10px;") Club Sandwich
      p(style="font-size: 1.2rem; color: white;") &#8377 449
  .pizza-images(style="display: flex; gap: 40px; justify-content: center;") 
    .pizza-item(style="text-align: center;")
      img(src="/images/sandwich3.jpg", alt="Pizza 2", 
          style="width: 400px; height: 400px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);")
      h3(style="margin-top: 10px;") Veg Sandwich
      p(style="font-size: 1.2rem; color: white;") &#8377 249
    .pizza-item(style="text-align: center;")
      img(src="/images/sandwich4.jpg", alt="Pizza 2", 
          style="width: 400px; height: 400px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);")
      h3(style="margin-top: 10px;") Mayonnaise Sandwich
      p(style="font-size: 1.2rem; color: white;") &#8377 299
